body {
    font-family: 'Robot Mono', monospace;
    margin: 0;
    background-color:rgb(204, 192, 192);
    font-size: 16px;
}

#wrapper {
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

.info__block{
    margin: 5px;
}

.info__block::after {
    content: "";
    display: table;
    clear: both;
}

.info__block div {
    float: left;
    width: calc(100% - 10px);
    background-color: white;
    margin: 5px 5px 5px 5px;
    padding: 10px;
}

div h3{
    margin-top: 10px;
}

.content::after {
    content: "";
    display: table;
    clear: both;
}

.content__text, aside {
    float: left;
    width: 100%;
}

.content {
    background-color: white;
    margin: 5px 10px 10px 10px;
    padding: 10px;
}

nav {
    background-color: rgb(204, 192, 192);
    margin-top: 5px;
}

li {
    min-height: auto;
    padding:10px;
}

aside {
    margin-top: 5px;
}

a {
    text-decoration: none; 
    color: inherit;
}

@media (min-width: 768px){

    .info__block div {
        width: calc(33.332% - 10px);
        margin: 5px 5px 0px 5px;
    }

    .content {
        margin-top: 10px;
    }

    .content__text {
        float: left;
        width: 70%;
    }

    aside {
        float: left;
        width: calc(30% - 10px);
        margin-left: 10px;
    }
}


